html {
  --color-primary: #03a9f4;
  --color-accent: #ff5722;
  --color-warn: #f44336;
  --color-bg-dark: #303030;
  --color-card-bg-dark: #424242;
  --color-bg-light: #eaf3ff;
  --color-card-bg-light: #fff;
  --color-text-on-dark: #fff;
  --color-text-on-light: rgba(0, 0, 0, 0.87);
}
